@import '~@mbkit/theme/dist/theme.scss';

@mixin svgTargetFill() {
    g:not([fill~="#"]),
    path:not([fill~="#"]),
    use:not([fill~="#"]) { 
        @content;
    }
}

.icon {
    box-sizing: border-box;
}

.primaryColor {
    @include svgTargetFill {
        fill: $primary-base;
    }
}
.infoColor {
    @include svgTargetFill {
        fill: $secondary-base;
    }

}
.successColor {
    @include svgTargetFill {
        fill: $success-base;
    }

}
.warningColor {
    @include svgTargetFill {
        fill: $warning-base;
    }
}
.errorColor {
    @include svgTargetFill {
        fill: $error-base;
    }
}
.metaColor {
    @include svgTargetFill {
        fill: $neutral-darker;
    }
}