@import '~@mbkit/theme/dist/theme.scss';

@mixin svgTargetFill() {
    g:not([fill~="#"]),
    path:not([fill~="#"]),
    use:not([fill~="#"]) { 
        @content;
    }
}

.icon {
    box-sizing: border-box;
}

.primaryColor {
    @include svgTargetFill {
        fill: $primary-1;
    }
}
.infoColor {
    @include svgTargetFill {
        fill: $secondary-1;
    }

}
.successColor {
    @include svgTargetFill {
        fill: $success-1;
    }

}
.warningColor {
    @include svgTargetFill {
        fill: $warning-1;
    }
}
.errorColor {
    @include svgTargetFill {
        fill: $error-1;
    }
}
.metaColor {
    @include svgTargetFill {
        fill: $neutral-2;
    }
}