@import '~@mbkit/theme/dist/theme.scss';

$transitionTime: 200;

:export {
    transitionTime: $transitionTime,
}

.accordion {
    &, & * {
        box-sizing: border-box;
    }
    background: $background;
    border-radius: $radius;
    color: $foreground;
    font-family: $font-family;
    border: 1px solid $neutral-3;
    border-top: none;
}

.header {
    position: relative;
    padding: 12px;
    outline: none;
    transition: all .2s ease-out;
    border-radius: $radius;
    
    &:before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;

        border-top: 1px solid $neutral-3;
        border-bottom: 1px solid transparent;
        pointer-events: none;
    }
    &IsOpen:before {
        border-bottom: 1px solid $neutral-3;
    }

    &:focus {
        box-shadow: 0 0 0 4px $focus;
    }
    
    .chevron {
        vertical-align: middle;
        transition: transform .2s ease-out;
    
        &IsOpen {
            transform: rotate(90deg);
        }
    }
}
.pane {
    overflow: hidden;
    background: $neutral-5;
    transition: all #{$transitionTime}ms ease-out;
    
    .paneContent {
        padding: 8px 32px;
    }
}