@import '~@mbkit/theme/dist/theme.scss';

:root {
    --reach-tooltip: 1;
}
  
[data-reach-tooltip] {
    pointer-events: none;
    position: absolute;
}

.tipsy {
    box-sizing: border-box;
    font-family: $font-family;
    background: $tertiary-base;
    color: $tertiary-foreground;
    padding: 8px;
    border-radius: $radius;
    font-size: $font-spec-10-size;
    line-height: $font-spec-10-lineHeight;
}
.tipsyCaret {
    width: 0;
    height: 0;
}