:root {
--reach-tooltip: 1;
}
  
[data-reach-tooltip] {
    z-index: 1;
    pointer-events: none;
    position: absolute;
}

.tipsy {
    font-family: var(--font-family, 'Lato', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif');
    background: var(--neutral-2, #5A5E66);
    color: var(--neutral-7, #ffffff);
    padding: 8px;
    border-radius: var(--radius, 3px);
    font-size: var(--font-spec-10-size, .6875rem);
    line-height: var(--font-spec-10-lineHeight, 1rem);
}
.tipsyCaret {
    width: 0;
    height: 0;
}