@import '~@mbkit/theme/dist/theme.scss';
@import '~@mbkit/theme/dist/breakpoints.scss';
@import '../../../shared/scss/mixins.scss';

$transitionTime: 500;

:export {
    transitionTime: $transitionTime;
}

.toaster {
    box-sizing: border-box;
    display: inline-flex;
    
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;

    background: $secondary-1;
    color: $neutral-7;
    padding: 16px;
    border-radius: $radius;
    
    font-family: $font-family;
    font-size: $font-spec-7-size;
    
    animation-name: slideIn;
    animation-duration: #{$transitionTime}ms;
    animation-iteration-count: 1;
    animation-direction: normal;

    .icon {
        @include svgFill($neutral-7);
        vertical-align: middle;
        margin-right: 8px;
        height: 32px;
    }
    .content {
        padding: 4px;
        color: $neutral-7;
        line-height: 1.5;
    }

    @media screen and (min-width: $media-sm) {
        bottom: 16px;
        left: 16px;
        width: auto;
        max-width: 540px;
    }
}
.hideToaster {
    animation-name: slideOut;
}

@keyframes slideIn {
    from {
        transform: translate3d(0, calc(100% + 16px), 0);
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideOut {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(0, calc(100% + 16px), 0);
    }
}