@import '../../../shared/scss/mixins.scss';

$transitionTime: 500;
$secondary-1: var(--secondary-1, #004C57);
$neutral-7: var(--neutral-7, #ffffff);
$radius: var(--radius, 3px);
$font-family: var(--font-family, 'Lato', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif');

:export {
    transitionTime: $transitionTime;
}

.toaster {
    box-sizing: border-box;
    
    display: inline-flex;
    
    width: auto;
    max-width: 540px;
    
    position: fixed;
    bottom: 16px;
    left: 16px;

    background: $secondary-1;
    color: $neutral-7;
    padding: 16px;
    border-radius: $radius;
    
    font-family: $font-family;
    font-size: 16px;
    
    animation-name: slideIn;
    animation-duration: #{$transitionTime}ms;
    animation-iteration-count: 1;
    animation-direction: normal;

    .icon {
        @include svgFill($neutral-7);
        vertical-align: middle;
        margin-right: 8px;
    }
    .content {
        padding: 4px;
        color: $neutral-7;
        line-height: 1.5;
    }
}
.hideToaster {
    animation-name: slideOut;
}

@keyframes slideIn {
    from {
        transform: translate3d(0, calc(100% + 16px), 0);
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideOut {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(0, calc(100% + 16px), 0);
    }
}