@import '~@mbkit/theme/dist/theme.scss';

$transitionTime: 400;

:export {
    transitionTime: $transitionTime;
}

.container {
    height: auto;
    overflow: hidden;
    transition: height #{$transitionTime}ms ease-out;

    &, & * {
        box-sizing: border-box; 
    }
}

.actionBanner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: $font-spec-7-size;
    font-family: $font-family;
    color: $foreground;
    padding: 20px 16px;
    padding-right: 48px;
    position: relative;

    &.warning {
        background: $warning-3;
    }
    &.error {
        background: $error-3;
    }

    .closeIcon {
        // TODO remove button reset styles once imported icon button 
        appearance: none;
        margin: 0;
        background: none;
        border: none;
        outline: none;
        border-radius: 50%;
        width: 44px;
        height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .2s ease-out;
        cursor: pointer;
        
        &:focus {
            box-shadow: 0 0 0 4px $focus;
        }
        &:active {
            box-shadow: 0 0 0 8px $focus;
        }

        position: absolute;
        top: 50%;
        right: 16px;
        transform: translateY(-50%);
    }
}