@import '~@mbkit/theme/dist/theme.scss';

.radio {
    appearance: none;
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    border: 1px solid $neutral-light;
    border-radius: 50%;
    position: relative;
    outline: none;
    background: $background;

    &, & * {
        box-sizing: border-box;
    }

    &:not(:disabled) {
        cursor: pointer;
    }

    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: none;
    }

    &:focus {
        border-color: $secondary-base;
        box-shadow: 0 0 0 4px $focus;
    }

    &.invalid {
        border-color: $error-base;
    }

    &:checked {
        &:before {
            background: $secondary-base;
        }
    }

    &:disabled {
        cursor: not-allowed;
        border-color: $neutral-light;
        background: $neutral-light;
        &:checked:before {
            background: $neutral-dark;
        }
    }
}