@import "~@mbkit/theme/dist/theme.scss";

@font-face {
  font-family: "Averta";
  src: url("/fonts/Averta-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Averta";
  src: url("/fonts/Averta-RegularItalic.otf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Averta";
  src: url("/fonts/Averta-Bold.otf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Averta";
  src: url("/fonts/Averta-BoldItalic.otf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Averta";
  src: url("/fonts/Averta-Semibold.otf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Averta";
  src: url("/fonts/Averta-SemiboldItalic.otf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

* {
    box-sizing: border-box;

    &:before, &:after {
        box-sizing: inherit;
    }
}
body {
    margin: 0;
    background: $applicationBackground;
    min-height: 100vh;
    font-family: 'Averta'; // $font-family;
}
h1 {
  font-weight: 200;
}
p {
  line-height: 1.5rem;
}

[data-reach-skip-link] {
    border-radius: $radius;
    color: $foreground;
    background: $background;
    z-index: 2 !important;
}
.skipNavContent {
    width: 100%;

    &:not(.fullPage) {
        overflow: auto;
        align-self: start;
    }
}
.contentContainer {
    max-width: 1280px;
    margin: 0 auto;

    &.useSidebar {
        @media screen and (min-width: 800px) {
            display: grid;
            grid-template-columns: 280px 1fr;
            grid-gap: 16px;
        }
    }

    @media screen and (min-width: 800px) {
        padding: 32px;
    }
}
.content {
    background: $background;
    color: $foreground;
    border-radius: $radius;
    padding: 24px;
    width: 100%;
    margin: 0 auto;

    &:not(.fullPage) {
      box-shadow: 0 1px 3px 0 rgba(34,36,40, .2);
      background: $background;
      border-radius: $radius;
      margin-bottom: 32px;
    }

    h2, h3, h4, h5, h6 {
      margin-top: 32px;
    }

    ul, ol {
      line-height: 1.8rem;
      
      p {
        margin: 0;
      }
    }

    a {
        color: $secondary-base;
        text-decoration: none;
        border-radius: $radius;
        
        &:hover, &:active {
            text-decoration: underline;
        }
        &:visited {
            color: $secondary-base;
        }
    }

    @media screen and (min-width: 800px) {
        padding: 32px;
    }

    &.fullPage {
        padding: 0;
        background: initial;
        border-radius: initial;
        max-width: 1270px;
    }

    img {
      max-width: 100%;
      padding: 16px 0;
      display: block;
    }
}

.container {
    position: relative;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;

    pre {
        border-radius: 3px;
    }
    code {
        font-size: 14px;
    }

    @media screen and (min-width: 640px) {
        display: grid;
        grid-template-columns: 280px auto;
        grid-gap: 16px;
    }
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 32px;
  line-height: 1.4rem;

  thead th {
      text-transform: uppercase;
      font-size: 11px;
      color: $neutral-darker;
      font-weight: 300;
      background: $applicationBackground;
      padding: 8px 16px;
      text-align: left;
      border-bottom: 1px solid $neutral-light;

      &:first-child, &:last-child {
          border-radius: 3px 3px 0 0;
      }
  }

  tbody tr {
      border-bottom: 1px solid $neutral-light;

      &:nth-child(even) td {
          background-color: $applicationBackground;
      }
      td {
          padding: 8px 16px;
          font-size: 14px;
          font-weight: 400;
          background-color: $background;
      }
  } 
}

.footer {
  text-align: center;
  margin-bottom: 32px;

  @media screen and (min-width: 800px) {
    margin-bottom: 0;
  }
}

:global .colorGrid {
  margin-top: 32px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 32px;

  .colorSwatch {
    height: 250px;
    display: flex;
    border: 1px solid $neutral-light;
    align-items: flex-end;
  }

  p {
    background-color: white;
    line-height: 1.8;
    font-weight: 700;
    width: 100%;
    margin-bottom: 0;
    padding: 16px;

    .colorHex {
      font-weight: 400;
      
      &:before {
        content: "#";
      }
    }

    .colorVar {
      font-family: 'Courier New', Courier, monospace;
      font-weight: 400;

      &:before {
        content: "$"
      }
    }
  }
}