@import "~@mbkit/theme/dist/theme.scss";

.card {
    box-shadow: 0 1px 3px 0 rgba(34,36,40, .2);
    border-radius: $radius;
    overflow: hidden;
    margin-bottom: 32px;
}
.banner {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    height: 432px;
    color: #fff;
    display: grid;
    padding: 32px;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: #005d6b;
      background: linear-gradient(45deg, rgba(0,93,107,0.9) 20%,rgba(0,0,0,0.1) 100%);
    }
    
    @media screen and (min-width: 600px) {
      padding: 48px 48px 36px 48px;
    }
}

.bannerText {
  position: relative;
  z-index: 1;
  align-self: self-end;

  h1 {
    font-size: 6.4em;
    font-weight: 200;
    margin-bottom: 16px;
    line-height: 1;
  }

  h2 {
    margin: 0;
    font-size: 2.4em;
    line-height: 1.2;
    font-weight: 400;
  }
}

.roundImage {
    width: 42px;
    height: 42px;

    img {
        width: auto;
        height: 100%;
        object-fit: contain;
    }
}

.homeLinks {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  column-gap: 32px;

  .card {
    padding: 32px;
    background: $background;
    position: relative;
  }

  .blockLink {
    display: inline-block;
    border-radius: $radius;
    text-decoration: none;
  }

  h3 {
    margin: 24px 0 0 0;
  }

  p {
    margin-bottom: 0;
  }
}

.comingSoon {
  position: absolute;
  top: 0;
  right: 0;
  background-color: $applicationBackground;
  border-bottom: 1px solid $neutral-light;
  border-left: 1px solid $neutral-light;
  padding: 12px;
  border-radius: 0 3px 0 3px;
}