@import '~@mbkit/theme/dist/theme.scss';

// When using inline SVG (Checkbox component) some browsers  
// detect encoded and display the SVG with the correct color,
// while others do not.
// https://gist.github.com/certainlyakey/e9c0d8f5c87ff47e3d5b
@function encodeHexColor($string) {
	@if type-of($string) == 'color' {
        $hex: str-slice(ie-hex-str($string), 4);
        $string: unquote("#{$hex}");
    }
    $string: '%23' + $string;
	@return $string;
}

@mixin checkmarkChecked($fill) {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='10'%3E%3Cpath fill='none' fill-rule='evenodd' stroke='" + encodeHexColor($fill) +"' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M13 1L5.0317226 9 1 5'/%3E%3C/svg%3E");
}
@mixin checkmarkIntermediate($fill) {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='2'%3E%3Cpath fill='none' fill-rule='evenodd' stroke='" + encodeHexColor($fill) +"' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M11 1H1'/%3E%3C/svg%3E");
}

.checkbox {
    appearance: none;
    width: 24px;
    height: 24px;
    border-radius: $radius;
    border: 1px solid $neutral-dark;
    background: $background;
    vertical-align: middle;
    margin: 0;
    transition: box-shadow .1s ease-out;
    &, & * {
        box-sizing: border-box;
    }

    &[aria-checked="mixed"] {
        @include checkmarkIntermediate(#fff);
    }

    &:checked {
        @include checkmarkChecked(#fff);
    }
    
    &[aria-checked="mixed"],
    &:checked {
        background-size: 55% auto;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-color: $secondary-base;
        border-color: $secondary-base;
    }
    &.invalid {
        border-color: $error-base;
    }

    &:not(:disabled) {
        &:hover {
            cursor: pointer;
        }
        &:focus {
            outline: none;
            box-shadow: 0 0 0 4px var(--focus,rgba(96,150,230,.75));
        }
        &:active {
            box-shadow: 0 0 0 8px var(--focus,rgba(96,150,230,.75));
        }
    }

    &:disabled {
        background-color: $neutral-dark;
        border-color: $neutral-dark;
        cursor: not-allowed;

        &[aria-checked="mixed"] {
            @include checkmarkIntermediate(#696C74);
        }
    
        &:checked {
            @include checkmarkChecked(#696C74);
        }
    }
}