@import '~@mbkit/theme/dist/theme.scss';

@mixin svgTargetFill($fill) {
    g:not([fill~="#"]),
    path:not([fill~="#"]),
    use:not([fill~="#"]) { 
        fill: $fill;
    }
}
@mixin bannerColors($fg, $bg, $border, $icon) {
    color: $fg;
    background: $bg;
    border-color: $border;

    @include svgTargetFill($icon);

    a {
        color: $fg;
    }
}

.banner {
    display: flex;
    padding: 16px;
    border: 1px solid transparent;
    border-radius: $radius;
    font-family: $font-family;

    &, & * {
        box-sizing: border-box;
    }

    a {
        text-decoration: underline;
        cursor: pointer;
        &:hover {
            text-decoration: none;
        }
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 0 4px $focus;
    }

    .icon {
        flex: 1 0;
        max-width: 32px;
        margin-right: 16px;
    }
    .content {
        flex: 1;
    }
    .heading {
        margin: 0;
        font-size: $font-spec-7-size;
        line-height: $font-spec-7-lineHeight;
        font-weight: bold;
    }
    .body {
        margin: 0;
        font-size: $font-spec-8-size;
        line-height: $font-spec-8-lineHeight;
    }

    &.success {
        @include bannerColors($success-lightForeground, $success-light, $success-base, $success-base);
    }
    &.error {
        @include bannerColors($error-lightForeground, $error-light, $error-base, $error-base);
    }
    &.warning {
        @include bannerColors($warning-lightForeground, $warning-light, $warning-base, $error-lightForeground);
    }
    &.info {
        @include bannerColors($neutral-darkest, $info-light, $info-base, $info-base);
    }
}