$font-family: var(--font-family, 'Lato', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif');
$neutral-2: var(--neutral-2, #5A5E66);

.label {
    display: block;
    width: 100%;
    font-size: .75rem;
    font-family: $font-family;
    line-height: 1.5;
    color: $neutral-2;
    text-indent: 8px;
    box-sizing: border-box;
}