@import '~@mbkit/theme/dist/theme.scss';

.label {
    display: block;
    width: 100%;
    font-size: $font-spec-8-size;
    font-family: $font-family;
    line-height: 1.5;
    color: $neutral-darker;
    text-indent: 8px;
    box-sizing: border-box;
}