@import '~@mbkit/theme/dist/theme.scss';
@import '~@reach/dialog/styles.css';

$transitionTime: 400;
$transitionValue: transform #{$transitionTime}ms cubic-bezier(0,0,1,1), opacity #{$transitionTime}ms cubic-bezier(0,0.15,0.55,1);
:export {
    transitionTime: $transitionTime;
}

.modal {
    transition: $transitionValue;
    transform-origin: bottom center;
    opacity: 0;
    width: 95vw;
    max-height: 80vh;
    border-radius: $radius;
    font-family: $font-family;
    padding: 0;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;

    &, & * {
        box-sizing: border-box;
    }

    &.size1 {
        max-width: 960px;
    }
    &.size2 {
        max-width: 670px;
    }
    &.size3 {
        max-width: 480px;
    }

    .closeIcon {
        position: absolute;
        top: 8px;
        right: 8px;
        cursor: pointer;
    }

    .header {
        background: $neutral-lighter;
        text-align: center;
        padding: 16px;
        font-size: $font-spec-2-size;
        font-weight: 200;
        position: relative;

        .closeIcon {
            top: 50%;
            transform: translate3d(-8px, -50%, 0);
        }
    }
    .content {
        overflow: auto;
    }
    .footer {
        box-sizing: border-box; 
        padding: 24px;
        border-top: 1px solid $neutral-light;
        display: flex;
        justify-content: flex-end;

        & > * {
            margin-left: 16px;

            &:first-child {
                margin-left: 0
            }
        }
    }
}
.veil {
    transition: $transitionValue;
    opacity: 0;
    background: rgba(#0B0B0D, .7);
}