.codeEditorWrapper {
    .codePreview {
        // padding: 0 16px;
    }
    @media screen and (min-width: 769px) {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));;
    }
}
.codeEditor {
    font-size: 14px;
    margin-right: 16px;
    
    & > div {
        border-radius: 3px;
    }
    textarea, pre {
        transition: box-shadow .2s ease-out;
    }
    textarea:focus {
        box-shadow: inset 0 0 0 8px #6096e6;
    }
}

.toggleButton {
  margin-bottom: 16px;
}