@import "~@mbkit/theme/dist/theme.scss";

.codeEditorWrapper {
    padding: 16px;
    background-color: $applicationBackground;
    border-radius: 6px;

    .codePreview {
        padding: 16px;
        background-color: $background;
        border-radius: 3px;
        margin-bottom: 16px;

        h2, h3, h4, h5, h6 {
          margin-top: initial;
        }

        @media screen and (min-width: 800px) {
          padding: 32px;
        }
    }
}
.codeEditor {
    font-size: 14px;
    margin-top: 16px;
    
    & > div {
        border-radius: 3px;
    }
    textarea, pre {
        transition: box-shadow .2s ease-out;
    }
    textarea:focus {
        box-shadow: inset 0 0 0 8px $focus;
    }
}

.toggleButton {
  margin-bottom: 16px;
}
.editorToggle {
    display: inline-flex;
    align-items: center;

    .toggle {
        margin-right: 4px;
    }
}