@import '~@mbkit/theme/dist/theme.scss';
@import "../../../shared/scss/mixins.scss";

$rippleTiming: 466;

$iconSize1: 100px;
$iconSize2: 60px;
$iconSize3: 40px;
$iconSize4: 30px;

:export {
    rippleTiming: $rippleTiming;
}

@mixin disabled() {
    &[disabled]:not([disabled="false"]) {
        @content;
    }
}
@mixin svgTargetFill() {
    svg g:not([fill~="#"]),
    svg path:not([fill~="#"]),
    svg mask:not([fill~="#"]),
    svg use:not([fill~="#"]) { 
        @content;
    }
}
@mixin buttonStyles($background, $border: $background, $color: $neutral-7, $svg: $neutral-7) {
    border-color: $border;
    background: $background;
    color: $color;
    
    .ripple {
        background-color: $background;
    }

    @include svgTargetFill {
        fill: $svg;
    }

    @include loader($color, $background);
}
@mixin buttonHover($background, $border: $background, $color: $neutral-1, $svg: $neutral-2) {
    &:not(.loading):not([disabled]):hover {
        border-color: $border;
        background: $background;
        color: $color;
        
        @include svgTargetFill {
            fill: $svg;
        }
    }
}
@mixin buttonDisabled {
    @include disabled {
        cursor: not-allowed;
        background: $neutral-4; 
        border-color: $neutral-4;
        color: $neutral-3;

        @include svgTargetFill {
            fill: $neutral-3;
        }

        @include loader($neutral-3, $neutral-4);
    }
}

.button {
    text-align: center;
    appearance: none;
    border-radius: var(--radius, 3px);
    border: 1px solid transparent;
    cursor: pointer;
    margin: 0;
    padding: 0;
    font-family: var(--font-family, 'Lato', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif');
    transition: background .2s ease-out, color .2s ease-out, fill .2s ease-out;
    overflow: hidden;

    &, & * {
        box-sizing: border-box;
    }

    &, .children {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .children {
        width: 100%;
        height: 100%;

        &:focus {
            outline: none;
        }
    }

    svg {
        margin: 0 4px;
    }

    .ripple {
        height: 12px;
        width: 12px;
        position: absolute;
        border-radius: 50%;
        opacity: .3;
        transform: scale(.1);
        left: 0;
        top: 0;
        animation: grow #{$rippleTiming}ms cubic-bezier(0, 0, 0.66, 1);
    }
    
    &.size4 .children {
        padding: 4px 24px;
        min-width: 76px;
        font-size: .75rem;
    }
    &.size3 .children {
        padding: 8px 32px;
        min-width: 96px;
        font-size: .875rem;
    }
    &.size2 .children {
        padding: 16px 40px;
        min-width: 116px;
        font-size: 1rem;
    }
    &.size1 .children {
        padding: 32px 64px;
        min-width: 136px;
        font-size: 1.5rem;
    }
    &.icon, &.iconPrimary {
        .children {
            min-width: initial;
            padding: 8px;
        }
        $svgSizeSmaller: 8px;
        &.size1 .children {
                width: $iconSize1;
                height: $iconSize1;
                svg {
                    width: $iconSize1 - $svgSizeSmaller;
                    height: $iconSize1 - $svgSizeSmaller;
                }
        }
        &.size2 .children {
                width: $iconSize2;
                height: $iconSize2;
                svg {
                    width: $iconSize2 - $svgSizeSmaller;
                    height: $iconSize2 - $svgSizeSmaller;
                }
        }
        &.size3 .children {
            
                width: $iconSize3;
                height: $iconSize3;
                svg {
                    width: $iconSize3 - $svgSizeSmaller;
                    height: $iconSize3 - $svgSizeSmaller;
                }
            
        }
        &.size4 .children {
            width: $iconSize4;
            height: $iconSize4;
            svg {
                width: $iconSize4 - $svgSizeSmaller;
                height: $iconSize4 - $svgSizeSmaller;
            }
        }
    }

    &.primary {
        @include buttonStyles($primary-1);
        @include buttonHover($neutral-7, $primary-1);
    }
    &.secondary {
        @include buttonStyles($secondary-1);
        @include buttonHover($neutral-7, $secondary-1);
    }
    &.tertiary {
        @include buttonStyles($neutral-2);
        @include buttonHover($neutral-7, $neutral-2);
    }
    &.primaryOutlined {
        @include buttonStyles($neutral-7, $primary-1, $neutral-1, $neutral-2);
        @include buttonHover($primary-1, $primary-1, $neutral-7, $neutral-7);
    }
    &.secondaryOutlined {
        @include buttonStyles($neutral-7, $secondary-1, $neutral-1, $neutral-2);
        @include buttonHover($secondary-1, $secondary-1, $neutral-7, $neutral-7);
    }
    &.tertiaryOutlined {
        @include buttonStyles($neutral-7, $neutral-2, $neutral-1, $neutral-2);
        @include buttonHover($neutral-2, $neutral-2, $neutral-7, $neutral-7);
    }
    &.offCard {
        @include buttonStyles($neutral-7, $neutral-7, $neutral-1, $neutral-2);
        @include buttonHover($neutral-2, $neutral-2, $neutral-7, $neutral-7);
    }
    &.iconPrimary {
        @include buttonStyles($neutral-7, $neutral-7, $secondary-1, $secondary-1);
        @include buttonHover($secondary-3, $secondary-3, $secondary-1, $secondary-1);
        border-radius: 50%;
    }
    &.icon {
        @include buttonStyles($neutral-7, $neutral-7, $neutral-1, $neutral-1);
        @include buttonHover($neutral-4, $neutral-4, $neutral-1, $neutral-1);
        border-radius: 50%;
    }
    &.simpleText {
        @include buttonStyles($neutral-7, $neutral-7, $secondary-1, $secondary-1);
        @include buttonStyles($neutral-7, $neutral-7, $secondary-1, $secondary-1);
        &:hover {
            text-decoration: underline;
        }
    }

    &.loading {
        cursor: wait;

        .children {
            opacity: 0;
            visibility: hidden;
        }
    }

    @include buttonDisabled();

    svg g.loading {
        fill: none !important;
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 0 4px $focus;
        transition: box-shadow 100ms ease-out;

        &:not(.loading):active {
            box-shadow: 0 0 0 8px $focus;
        }
    }
}




@keyframes grow {
    0% {
        opacity: .5;
        transform: scale(.1);
    }
    20% {
        transform: scale(1);
    }
    80% {
        opacity: .2;
        transform: scale(50);
    }
    100% {
        opacity: 0;
        transform: scale(50);
    }
}