@import '~@mbkit/theme/dist/theme.scss';

@mixin downChevron($fill) {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' class=''%3E%3Cg id='Icons/Glyphs/Chevron---Down-vfNaTDX8tnyDfRIM7JRyh' fill='none' fill-rule='evenodd' stroke='none' stroke-width='1'%3E%3Cpath id='Mask-vfNaTDX8tnyDfRIM7JRyh' fill='" + encodeHexColor($fill) + "' d='M5.6095656 3.31234752l.7808688-.62469504L10.6403124 8l-4.249878 5.3123475-.7808688-.624695L9.35968758 8z' transform='rotate(90 8.124939 8)'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.select {
    box-sizing: border-box;
    appearance: none;
    display: block;
    width: 100%;
    font-family: $font-family;
    background: $background;
    color: $foreground;
    border: 1px solid $neutral-light;
    border-radius: $radius;
    padding: 8px;
    font-size: $font-spec-5-size;
    outline: none;
    cursor: pointer;
    transition: box-shadow .1s ease-out, border .2s ease-out;
    background-repeat: no-repeat;
    background-position: calc(100% - 12px) 50%;
    @include downChevron(#2D2D2D);

    &:not(:disabled) {
        &:focus {
            border-color: $secondary-base;
            box-shadow: 0 0 0 4px $focus;
        }
        &.invalid {
            border-color: $error-base;
        }
    }
    &:disabled {
        background-color: $neutral-light;
        border-color: $neutral-light;
        color: $neutral-darker;
        cursor: not-allowed;
        @include downChevron(#696C74);
    }
}
.multiSelectContainer {
    position: relative;

    .select.isOpen {
        border-color: $secondary-base;
        border-bottom-color: $neutral-lighter;
        border-radius: $radius $radius 0 0;
    }
}
.multiSelectMenu {
    box-sizing: border-box;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    background: $background;
    visibility: hidden;
    border: 1px solid $secondary-base;
    border-top: none;
    border-radius: 0 0 $radius $radius;
    z-index: 1;
    max-height: 200px;
    overflow: scroll;

    &.isOpen {
        opacity: 1;
        pointer-events: initial;
        visibility: visible;
    }
}
.multiSelectItem {
    display: flex;
    align-items: center;
    padding: 4px 8px;

    &:first-child {
        margin-top: 4px;
    }
    &:last-child {
        margin-bottom: 4px;
    }

    .checkbox {
        margin-right: 8px;
        flex: 0 0 32px;
        height: 32px;
    }
}
.placeholder {
    color: $neutral-darker;
}
.selectPlaceholderLabel {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 24px;
}
.label {
    color: $neutral-darker;
    font-size: $font-spec-6-size;
    line-height: 1.5;
    text-indent: 8px;
}