@import '~@mbkit/theme/dist/theme.scss';

@mixin get-font-spec($spec, $defaultSize, $defaultLineHeight) {
    font-family: $font-family;
    font-size: $defaultSize; 
    line-height: $defaultLineHeight;
    margin: 0;
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}
.hero,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.preHeading {
    font-weight: 500;
}

.hero {
    @include get-font-spec(11, 2.5rem, 3rem);
}
.h1 {
    @include get-font-spec(1, 2rem, 2.625rem);
}
.h2 {
    @include get-font-spec(2, 1.5rem, 2.25rem);
}
.h3 {
    @include get-font-spec(3, 1.25rem, 1.875rem);
}
.h4 {
    @include get-font-spec(4, 1.25rem, 1.75rem);
}
.h5 {
    @include get-font-spec(5, 1rem, 1.5rem);
}
.h6 {
    @include get-font-spec(6, .875rem, 1.375rem);
}

.paragraph {
    @include get-font-spec(7, 1rem, 1.5rem);
}

.smallBodyContent {
    @include get-font-spec(8, .75rem, 1.125rem);
}

.subheading {
    @include get-font-spec(9, 1.125rem, 1.75rem);
}

.preHeading,
.tableHeader {
    @include get-font-spec(9, 1.125rem, 1.125rem);
    text-transform: uppercase;
}

.defaultColor {
    color: $foreground;
}
.primaryColor {
    color: $primary-base;
}
.infoColor {
    color: $info-base;
}
.successColor {
    color: $success-base;
}
.warningColor {
    color: $warning-base;
}
.errorColor {
    color: $error-base;
}
.metaColor {
    color: $neutral-darker;
}

.link {
    display: inline-block;
    text-decoration: none;
    transition: box-shadow .1s ease-out;
    border-radius: 3px;
    cursor: pointer;
    color: $secondary-base;
    position: relative;
    outline: none;

    &:hover, &:active {
        text-decoration: underline;
    }
    &:visited {
        text-decoration: underline;
        color: $error-base;
    }
    &:focus {
        box-shadow: 0 0 0 4px $focus;
    }
}

@media screen and (min-width: 768px) {
    .hero {
        @include get-font-spec(11, 3rem, 4.75rem);
    }
    .h1 {
        @include get-font-spec(1, 2.5rem, 3.75rem);
    }
    .h2 {
        @include get-font-spec(2, 2rem, 3rem);
    }
    .h3 {
        @include get-font-spec(3, 1.5rem, 2.25rem);
    }
    .h4 {
        @include get-font-spec(4, 1.25rem, 1.75rem);
    }
    .h5 {
        @include get-font-spec(5, 1rem, 1.5rem);
    }
    .h6 {
        @include get-font-spec(6, .875rem, 1.25rem);
    }
} 