@import '~@mbkit/theme/dist/theme.scss';

.textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
    resize: none;
    height: 152px;
    font-size: $font-spec-7-size;
    font-family: $font-family;
    border: 1px solid $neutral-3;
    border-radius: $radius;
    transition: box-shadow .1s ease-out, border .2s ease-out;
    padding: 8px;
    outline: none;
    background: $background;
    color: $foreground;

    &:not(:disabled) {
        &:focus {
            box-shadow: 0 0 0 4px $focus;
            border-color: $secondary-2;
        }
        &.invalid {
            border-color: $error-1;
        }
    }
    
    &:disabled {
        background: $neutral-4;
        border-color: $neutral-4;
        color: $neutral-2;
        cursor: not-allowed;
    }
}